body {
  background: #fff;
  font-family: 'Lato';
}

body p {
  font-size: 22px;
}

.navbar {
  background: #a60000;
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
}

#navcol-3 a {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  font-weight: 900;
}

#navcol-3 i {
  font-size: 30px;
  color: #fff;
  margin-left: 15px;
  padding-bottom: 25px;
}

.c1 h1 {
  color: #fff;
}

.c2 h1 {
  color: #fff;
}

.c3 h1 {
  color: #fff;
}

.c1 {
  width: 100%;
  height: 800px;
  background: url("./newport.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c2 {
  width: 100%;
  height: 800px;
  background: url("./ac3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c3 {
  width: 100%;
  height: 800px;
  background: url("./ac2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 992px) {
  .c1 img {
    width: 60px;
  }
}

@media (max-width: 992px) {
  .c1 {
    background-position: left;
  }
}

.presimg .container {
  text-align: center;
}

.presimg .container img {
  padding: 50px;
}

.presentacion p {
  margin: auto;
  max-width: 1200px;
}

.presentacion h1 {
  margin: auto;
  max-width: 1200px;
}

.presentacion {
  margin: 20px;
  padding: 20px;
}

.pie {
  width: 100%;
  height: 250px;
  background: #b10a0a;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand img {
  width: 180px;
  position: absolute;
  z-index: 999999;
  left: 90px;
  top: 14px;
}

@media (max-width: 992px) {
  .navbar-brand img {
    position: relative;
    z-index: 0;
    left: 0;
    top: 0;
  }
}

@media (max-width: 992px) {
  .mimenu .imgp {
    width: 90%;
  }
}

.mimenu {
  width: 100%;
  height: 900px;
  background: url("./2018-11-29.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mimenu #galle {
  width: 18%;
}

@media (max-width: 992px) {
  .mimenu {
    background-position: right;
    height: 600px;
  }
}

@media (max-width: 992px) {
  .mimenu .imgp {
    width: 0%;
  }
}

section img {
  width: 98%;
}

@media (max-width: 992px) {
  section img {
    width: 95%;
    margin: auto;
    text-align: center;
  }
}

iframe {
  width: 680px;
  height: 680px;
}

@media (max-width: 992px) {
  iframe {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 992px) {
  #carousel-1 img {
    width: 80%;
  }
}

.pie {
  text-align: center;
  padding-top: 60px;
}

.pie p {
  color: #fff;
}

.pie a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.mimenu2 {
  width: 100%;
  height: 900px;
  background: url("./2018-11-29.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.mimenu2 section {
  width: 100%;
}

.mapa {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mapa iframe {
  width: 90%;
  height: 350px;
}

.pie i {
  color: #fff;
  font-size: 20px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.promos img {
  width: 100%;
}

